body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body > header {
    width: 86.85%;
    height: 85px;
    background-color: #E44D26;
    border-bottom: 6px solid #E44D26;
    margin: 0 0 auto;
    position: absolute;
    top: 0;
    left: 200px;
}

header h1 {
    text-align: center;
    color: #ffffff;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #346453;
    color: #299634;
}

aside ul {
    list-style-type: none;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 20px;
}

aside ul li:first-child {
    margin-top: 140px;
}

aside ul li {
    margin-top: 42px;
    text-align: center;
}

aside ul li a {
    text-decoration: none;
    color: #C7DDD1;
}

aside ul li a:hover {
    color: #f3d5c3;
}

main {
    position: absolute;
    width: 86.15%;
    top: 85px;
    left: 200px;
}

section header h2 {
    margin-left: 50px;
    font-size: 30px;
}

section h3 {
    margin-left: 50px;
    font-size: 23px;
}


section p {
    margin-left: 20px;
    font-size: 16px;
}

code, pre > code {
    margin-left: 21px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
    border: 1px solid black;
    border-radius:3px;
    padding: 20px;
    background-color: #FFCC9C;
    font-size: 16px;
}

section table {
    align-items: center;
    border: 1px solid #000000;
    border-radius: 2px;
    border-collapse: collapse;
    margin: auto;
    width: 85%;
}

section table td, th {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
    font-size: 17px;
}

#definitions td:first-child {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

section table th {
    background-color: #86B4A3;
}

.example td:first-child {
    font-size: 17px;
    text-align: center;
}

#examples table textarea {
    resize: none;
}

#example-form {
    margin-top: 40px;
}

#example-form td {
    text-align: left;
}

#example-form pre {
    font-size: 14px;
}

#example-form .field {
    margin-top: 20px;
}

#example-form .field label, legend {
    font-weight: bold;
}

#example-form .field input:not(input[type="file"]) {
    height: 20px;
    border-radius: 1px;
}

#example-form .field #reset-button {
    height: 30px;
    width: 140px;
    background-color: #FFCC9C;
    font-weight: bold;
}

#example-form .field #submit-button {
    height: 30px;
    width: 140px;
    margin-left: 20px;
    background-color: #009665;
    font-weight: bold;
}

#logo figure img {
    float: right;
    height: 266px;
    margin-left: 10px;
}

#logo figure figcaption {
    float: right;
}

#html5features {
    text-align: center;
}

#html5features img {
    height: 440px;
}

#html5semantic {
    text-align: center;
}

#html5semantic img {
    height: 440px;
}

#html5taxonomy {
    text-align: center;
}

#html5taxonomy img {
    height: 490px;
}

#references ul {
    list-style-type: none;
}

#references ul li {
    font-size: 14px;
    margin-top: 10px;
}

.source {
    font-size: 13px;
    margin-top: 6px;
}

.table-caption {
    display: block;
    text-align: center;
    margin-top: 10px;
}

h2 sup {
    font-size: 16px;
}

h3 sup {
    font-size: 14px;
}

p sup {
    font-size: 12px;
}

#content-table9 {
    text-align: left; padding-left: 200px
}

#forms .example .table-padding{
    text-align: left; padding-left: 120px;
}