body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body > header {
    /*font-family: Roboto, Arial, Helvetica, sans-serif;*/
    width: 87%;
    height: 85px;
    background-color: #E44D26;
    border-bottom: 6px solid #E44D26;
    margin: 0 0 auto;
    position: absolute;
    top: 0;
    left: 200px;
}

header h1 {
    text-align: center;
    color: #ffffff;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #009665;
}

aside ul {
    list-style-type: none;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 20px;
}

aside ul li:first-child {
    margin-top: 140px;
}

aside ul li {
    margin-top: 42px;
    text-align: center;
}

aside ul li a {
    text-decoration: none;
    color: #cecdc5;
}

aside ul li a:hover {
    color: #f3d5c3;
}

main {
    position: absolute;
    width: 86.15%;
    top: 85px;
    left: 200px;
   /* border: 7px solid blue;*/
}

section {
    /*position: absolute;
    margin-left: 0px;*/
}

section header h2 {
    margin-left: 50px;
    font-size: 30px;
}

section p {
    margin-left: 20px;
    font-size: 16px;
}

code, pre > code {
    margin-left: 11px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
    border: 1px solid black;
    border-radius:3px;
    padding: 20px;
    background-color: #ffa792;
    font-size: 16px;
}

section table {
    align-items: center;
    border: 1px solid #000000;
    border-radius: 2px;
    border-collapse: collapse;
    margin: auto;
    width: 85%;
}

section table td, th {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

#definitions td:first-child {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

section table th {
    background-color: #ffa792;
}

.example td:first-child {
    font-size: 17px;
    text-align: center;
}

/*
.example input[type="text"] {
    height: 30px;
    padding: 3px;
    border: 1px solid #000000;
    border-radius: 4px;
}*/
/*
aside ul li a:active {
    color: #f3d5c3;
}*/

#examples table textarea {
    resize: none;
}

#example-form {
    margin-top: 40px;
}

#example-form td {
    text-align: left;
}

#example-form pre {
    font-size: 14px;
}

#example-form .field {
    margin-top: 20px;
}

#example-form .field label, legend {
    font-weight: bold;
}

#example-form .field input:not(input[type="file"]) {
    height: 20px;
    border-radius: 1px;
}

#example-form .field #reset-button {
    height: 30px;
    width: 140px;
    background-color: #FFA792;
    font-weight: bold;
}

#example-form .field #submit-button {
    height: 30px;
    width: 140px;
    margin-left: 20px;
    background-color: #009665;
    font-weight: bold;
}

